   <!Doctype html>
	<html lang= "en">
	<head>
	<meta charset = "UTF-8">
	<title>Hello World </title> 
	</head>
	<body>
    <h1> Function in template</h1>
    

   {{range .Transport}}
   {{uc .Door}}
   {{end}}


	</body>
    </html>