<!DOCTYPE html>
<html>
<body>

<h2>An unordered HTML list</h2>


<h1>Comparison</h1>

{{if lt .Score1 .Score2}}
SCORE1<score2
{{end}}

{{if gt .Score1 .Score2}}
SCORE1<score2
{{end}}

{{if eq .Score1 .Score2}}
SCORE1=score2
{{end}}

 
</body>
</html>
