<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{.Name}}
{{.Age}}
{{.SomeProcessing}}
{{.AgeDbl}}
{{.SomeProcessing | .TakesArgs}}

</body>
</html>