<!DOCTYPE html>
<html>
<body>

<h2>An unordered HTML list</h2>

<ul>
   {{range.Wisdom}}
  <li>{{.}}</li>
   {{end}}
  </ul>


<ul>
   {{range.Transport}}
  <li>{{.Model}}</li>
   {{end}}
  </ul>

</body>
</html>
