   <!Doctype html>
	<html lang= "en">
	<head>
	<meta charset = "UTF-8">
	<title>Hello World </title> 
	</head>
	<body>
    <h1> Composition in template</h1>
    
<h1>{{.Name}}</h1>
<h1>{{.Age}}</h1>
{{if .LiscenceToKill}}
<h3>LiscenceToKill</h3>
{{else}}
<h3> no Liscence</h3>
{{end}}
	</body>
    </html>